<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/comment.css">
	<script src = "https://code.jquery.com/jquery-3.4.1.min.js" type = "text/javascript"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</head>
<body>
	<div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{sessionname}}" class="active">FEED</a></li>
			<li><a href = "/profile/{{sessionname}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/search"><img src = "/images/search16.png"></a></li>
			<li><a href = "/logout">Logged in as: {{sessionname}}</a></li>
		</ul>
	</div>
	<div id = "feed" class = "feed">
	</div>
	</div>
	
	<!-- Hidden Values -->
	<input type = "text" id = "hiddenUsername" class = "hiddenUsername" name = "hiddenUsername" value = "{{username}}" hidden>
	<input type = "text" id = "hiddenSessionname" class = "hiddenSessionname" name = "hiddenSessionname" value = "{{sessionname}}" hidden>
	<input type = "text" id = "hiddenPostID" class = "hiddenPostID" name = "hiddenPostID" value = "{{postID}}" hidden>
	<input type = "text" id = "commentsNum" class = "commentsNum" name = "commentsNum" hidden>

	<script>
		window.onload = function() {
			showPost();
		}
	</script>
	<script type = "text/javascript" src = "/js/comments.js"></script>
</body>
</html>